<div id="<%= dom_id trademark %>">
  <p>
    <strong>Customer:</strong>
    <%= trademark.customer_id %>
  </p>

  <p>
    <strong>Priority at:</strong>
    <%= trademark.priority_at %>
  </p>

  <p>
    <strong>Priority number:</strong>
    <%= trademark.priority_number %>
  </p>

  <p>
    <strong>Indian application number:</strong>
    <%= trademark.indian_application_number %>
  </p>

  <p>
    <strong>Filed at:</strong>
    <%= trademark.filed_at %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= trademark.title %>
  </p>

  <p>
    <strong>Deadline option:</strong>
    <%= trademark.deadline_option %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= trademark.deadline %>
  </p>

  <p>
    <strong>Compiled at:</strong>
    <%= trademark.compiled_at %>
  </p>

</div>
