<div id="<%= dom_id design %>">
  <p>
    <strong>Customer:</strong>
    <%= design.customer_id %>
  </p>

  <p>
    <strong>Priority at:</strong>
    <%= design.priority_at %>
  </p>

  <p>
    <strong>Priority number:</strong>
    <%= design.priority_number %>
  </p>

  <p>
    <strong>Indian application number:</strong>
    <%= design.indian_application_number %>
  </p>

  <p>
    <strong>Filed at:</strong>
    <%= design.filed_at %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= design.title %>
  </p>

  <p>
    <strong>Deadline option:</strong>
    <%= design.deadline_option %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= design.deadline %>
  </p>

  <p>
    <strong>Compiled at:</strong>
    <%= design.compiled_at %>
  </p>

</div>
