<div id="<%= dom_id nba %>">
  <p>
    <strong>Customer:</strong>
    <%= nba.customer_id %>
  </p>

  <p>
    <strong>Nba number:</strong>
    <%= nba.nba_number %>
  </p>

  <p>
    <strong>Abs at:</strong>
    <%= nba.abs_at %>
  </p>

  <p>
    <strong>Indian application number:</strong>
    <%= nba.indian_application_number %>
  </p>

  <p>
    <strong>Filed at:</strong>
    <%= nba.filed_at %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= nba.title %>
  </p>

  <p>
    <strong>Deadline option:</strong>
    <%= nba.deadline_option %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= nba.deadline %>
  </p>

  <p>
    <strong>Compiled at:</strong>
    <%= nba.compiled_at %>
  </p>

</div>
