<div id="<%= dom_id patent %>">
  <p>
    <strong>Customer:</strong>
    <%= patent.customer_id %>
  </p>

  <p>
    <strong>Priority at:</strong>
    <%= patent.priority_at %>
  </p>

  <p>
    <strong>Priority number:</strong>
    <%= patent.priority_number %>
  </p>

  <p>
    <strong>Indian application number:</strong>
    <%= patent.indian_application_number %>
  </p>

  <p>
    <strong>Filed at:</strong>
    <%= patent.filed_at %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= patent.title %>
  </p>

  <p>
    <strong>Deadline option:</strong>
    <%= patent.deadline_option %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= patent.deadline %>
  </p>

  <p>
    <strong>Compiled at:</strong>
    <%= patent.compiled_at %>
  </p>

</div>
