<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :asuserid, style: "display: block" %>
    <%= form.text_field :asuserid %>
  </div>
  
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :address_line_1, style: "display: block" %>
    <%= form.text_field :address_line_1 %>
  </div>

  <div>
    <%= form.label :address_line_2, style: "display: block" %>
    <%= form.text_field :address_line_2 %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :country, style: "display: block" %>
    <%= form.text_field :country %>
  </div>

  <div>
    <%= form.label :telephone, style: "display: block" %>
    <%= form.text_field :telephone %>
  </div>

  <div>
    <%= form.label :customer_type, "Type", style: "display: block" %>
    <%= form.select :customer_type, options_for_select(["applicant", "associate"]) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
